*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.profileHeading{
    font-size: 2rem;
}
.listItems{
    display: inline;
    margin: 20px;
    float: right;
    margin-right: 250px;
}
.listx{
    padding: 0px;
    margin-bottom: 20px;
}

.profile2{
    width: 65%;
    height: 100%;
    border: 1px solid black;
    margin: 10px;
    display: inline-block;
}
.pbn{
    background-color: white;
    color: black;
    border: 1px solid black;
    margin: 3px;
}
.adjustProfile1{
    margin-block-start: -518px;
    margin-block-end:500 ;
}
.adjustProfile2{
    margin-block-start: -100px;
    margin-block-end:500px ;
    margin-top: 500px;
}
